.a{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style-type:none;
    display:flex;
    justify-content: center;
    align-items: center;
}
li,a{
    display: inline-block;
    margin-top:6px;
    margin-left: 3px;
}
a{
    color: white;
    text-decoration: none;
}
