<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <form class="login my-5 text-large" #LoginForm="ngForm" (ngSubmit)="loginUser()" ngNativeValidate>
    {{LoginForm.form.valid }}
    <small class="text-danger text-center">{{msg}}</small>
      <div class="imgcontainer">
        <img src="../../assets/img_avatar.png" alt="Avatar" class="avatar">
      </div>    
        <div class="form-group input">
          <label for="emailId">Email address</label>
          <input type="email" class="form-control" name="emailId" id="exampleInputEmail1" aria-describedby="emailHelp"  [(ngModel)]="user.emailId" #emailId="ngModel" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
          [class.is-invalid]="emailId.invalid && emailId.touched">
          <div *ngIf="emailId.errors && (emailId.invalid && emailId.touched)">
                <small class="text-danger" *ngIf="emailId.errors?.['required']">Email Id is required Field</small>
                <small class="text-danger" *ngIf="emailId.errors?.['pattern']">Enter proper value for the Email </small>
          </div>
        </div>
        <div class="form-group input">
          <label for="userPassword">Password</label>
          <input type="password" class="form-control" name="userPassword" id="userPassword" [(ngModel)]="user.userPassword" #userPassword="ngModel" required
          [class.is-invalid]="userPassword.invalid && userPassword.touched">  
          <small class="text-danger" [class.d-none]="userPassword.valid || userPassword.untouched">password is required field</small>
        </div>
        <div class="form-group form-check input">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <div class="col-md-12 text-center my-3">
            <button type="submit" class="btn btn-primary mx-1" [disabled]="LoginForm.form.invalid">Login</button>
            <a href="/forgotpassword"><button type="button" class="btn btn-warning mx-1">Forgot Password</button></a>
        </div>
        <div class="col-md-12 text-center con my-3">
          <!-- <a href="/signup" class="fl">SignUp</a> -->
          <small class="float-right" (click)="gotoregistration()">New User ? Register here</small>
        </div>
      </form>
</body>
</html>
