<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview About</title>
</head>
<body>
    <div class="wrapper">

        <div class="background-container">
            <div class="bg-1"></div>
            <div class="bg-2"></div>
    
        </div>
        <div class="about-container">
            
            <div class="image-container">
                <img src="../../assets/pic6.jpg" alt="">
                
            </div>

            <div class="text-container">
                <h1>About us</h1>
                <span>The ticket in either form is required to obtain a boarding pass during check-in at the bus top.Then with the boarding pass and the attached ticket, the passenger is allowed to board the bus.  </span>
                <span>A bus ticket is a document or electronic record issued by travel agency that confirms that an individual is entitled to a seat on bus.The bus ticket may be one of two types a paper ticket which comprises coupon or voucher and an electronic ticket.  </span>
                <a href="">Read More</a>
            </div>
            
        </div>
    </div>
    

</body>
</html>